{% extends '_layout.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">Welcome {{ name }}</h1>
            <hr class="my-4">
        </div>
    </div>
</div>

{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="md-form">
        <i class="fas fa-pencil-alt prefix"></i>
        <textarea id="form10" class="md-textarea form-control" rows="3"></textarea>
        <label for="form10">Icon Prefix</label>
    </div>
</body>
</html>
